<center>
<div class="bg-dark m-10">

<div class="slider-container">  
  <img src="/imagenes/LIBRO1.png"/>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="@Url.Action("historia","Home")">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="@Url.Action("historia2","Home")">2</a>
    </li>
  </ul>
</nav>


   

</div>  

</div>

</center>




