@{
    ViewData["Title"] = "Home Page";
}

    <title>PreguntadOrt</title>

  
  <body>

    <div class="text-center">
    
    <img src="imagenes/frodoyantoan.png" style="height:60%; width:40%;">
    </div>    

  </body>


    



