@{
    ViewData["Title"] = "Home Page";
}

    <title>PreguntadOrt</title>
  <body>

   
   
  
<center>
      <ol class="list-group list-group ">
 <img src="FRODO.jpg"  class="" >

  <button type="button" class="btn btn-outline-light bg-dark"><a href="@Url.Action("historia","Home")"><h5> Leer Historia</h5></a></button>
  <button type="button" class="btn btn-outline-light bg-dark"><a href="@Url.Action("ConfigurarJuego","Home")"><h5>Comenzar Juego</h5></a></button></li>
  <button type="button" class="btn btn-outline-light bg-dark"><a href="@Url.Action("tutorial","Home")"><img src="tutorial.png" style="height:60%; width:70%;" alt=""></a></button>

</ol>
  </center>




      
  
</div>
    </div>
    


      
  </body>


    



